@import '../../../scss/constants.scss';

.header {
  position: relative;
	background: #fff;
	box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
  z-index: 2;
}

		.header__container {
			position: relative;
			display: flex;
			align-items: center;
			padding: 10px 0;
		}

				.header__login-block {
					display: flex;
					flex: 1;
					justify-content: flex-end;
					color: #fff;
				}

						.header__login-block__login-link {
              display: flex;
              flex-direction: row;
              align-items: center;
              border: 1px solid transparent;
              border-radius: 3px;
              color: #505763;
              font-weight: 400;
              line-height: 120%;
              padding: 12px 15px;

              &:hover {
                background: #f3f3f3;
                border-color: #e8e8e8;
                text-decoration: none;
              }
						}

								.header__login-block__user-icon {
									margin-right: 10px;
                  color: #686F7A;
								}