@import '../../../scss/constants.scss';

.test__wrapper {
  display: flex;
  flex-wrap: wrap;
}

    .test__active-question {
      flex: 5;
      padding-right: 20px;
    }

    .test__thumb-list__wrapper {
      flex: 2;
    }

    .test__footer {
      flex-basis: 100%;
    }

.result-list__item {
  padding: 20px;
}

.result-list__item:nth-child(odd) {
  background: #e5e7e8;
}