.question-list-item {
  display: flex;

  &:nth-child(even) .question-list-item__link {
    background: #e5e7e8;
  }
}
    .question-list-item__link {
      display: flex;
      width: 100%;
      padding: 15px 30px;
      border-left: 3px solid transparent;

      &:hover {
        text-decoration: none;
        border-color: #008df5;
      }
    }
        .question-list-item__item-id {
          flex-basis: 150px;
          width: 150px;
        }
        .question-list-item__title {
          flex: 1;
          margin-right: 20px;
        }
        .question-list-item__icons {
          display: flex;
          flex-basis: 80px;
          justify-content: space-around;
        }