label {
  cursor: pointer;
}

.input-component[type=radio] + label {
  position: relative;
  padding-left: 25px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin: auto;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 0 0 1px #29303B;
    box-sizing: border-box;
  }
}

.input-component[type=radio]:checked + label {
  &:before {
    background: #29303B;
    border: 3px solid #fff;
  }
}
