@import '../../../scss/constants.scss';

.list-page__wrapper {
}
    .list-page__header {
      display: flex;
    }
        .list-page__header__perex {
          flex: 2;
        }
        .list-page__run-test {
          display: flex;
          flex: 1;
          justify-content: space-between;
          flex-direction: column;
        }
            .list-page__run-test__link {
              display: flex;
              padding: 15px;
              color: $fontColor;
              background: #fff;
              border-left: 3px solid #008df5;
            }

    .list-page__loader {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
        .list-page__loader__label {
          font-size: 20px;
        }