.driving-fields {
	padding: 40px 0;
}

		.driving-fields__header {
			margin-bottom: 2em;
			text-align: center;
		}

		.driving-fields__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -10px;
			padding-top: 15px;
		}