@import '../../../scss/constants.scss';

.question-list-header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background: #f9f9f9;
  border: 1px solid #DEDFE0;
  margin-bottom: 5px;
}
    .question-list-header__question-id {
      flex-basis: 150px;
    }
    .question-list-header__question-title {
      flex: 1;
    }

    .question-list-header__pagination {
      position: absolute;
      left: 0;
      right: 0;
      width: 400px;
      margin: auto;
    }

    .question-list-header__grid-view,
    .question-list-header__lines-view {
      margin: 0 5px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        background: none;
      }
    }
        .question-list-header__grid-view__icon,
        .question-list-header__lines-view__icon {
          color: $fontColor;
          font-size: 25px;
        }
        .question-list-header__grid-view__icon--active,
        .question-list-header__lines-view__icon--active {
          color: #007791;
        }