.driving-licenses {
	padding: 20px 0;
}

		.driving-licenses__header {
			font-weight: 700;
			text-align: center;
		}

		.driving-licenses__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin: -10px;
		}