@import '../../../scss/constants.scss';

.driving-licenses__item {
	margin: 10px;
}

		.driving-licenses__link {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
			background: $green;
		}

				.driving-licenses__icon {
					font-size: 30px;
					margin-bottom: 10px;
					color: $fontColor;
				}

				.driving-licenses__title {
					font-weight: 700;
				}